<%- include('../partials/admin-header.ejs') %> 




<!-- Compare Section Start -->
<section class="section-b-space order-success">
    <div class="container-lg">
      <div class="row g-3 g-md-4 cart">
        <div class="col-md-7 col-lg-7 col-xl-8">
          <div class="cart-wrap">
            <div class="items-list">
              <table class="table cart-table">
                <thead>
                  <tr>
                    <th class="d-none d-sm-table-cell">PRODUCT</th>
                    <th class="d-none d-sm-table-cell">PRICE</th>
                    <th class="d-none d-lg-table-cell">QUANTITY</th>
                    <th class="d-none d-xl-table-cell">TOTAL</th>
                  </tr>
                </thead>
                <% let FinalAmount=0 %> 
                <% for(let i=0;i<orderItems.length;i++) { %>
                    <% let totalAmount = orderItems[i].prodQty * orderItems[i].prodPrice %> 
                    <% FinalAmount += totalAmount %> 
                <tbody>
                  <tr>
                    <td>
                      <div class="product-detail">
                        <img class="pr-img" src="/assets/images/upload-images/<%= orderItems[i].prodImageFront %>"  alt="image" />
                        <div class="details">
                          <h4 class="title-color font-default2"><%= orderItems[i].prodCategory %></h4>
                          
                          <span class="size d-flex gap-2">Size : <span><%= orderItems[i].prodSize %></span> </span>
                          
                        </div>
                      </div>
                    </td>

                    <td class="price d-none d-sm-table-cell">₹ <%= orderItems[i].prodPrice %></td>
                    <td class="price d-none d-lg-table-cell"><%= orderItems[i].prodQty %></td>
                    <td class="total d-none d-xl-table-cell">₹ <%= totalAmount %> </td>
                  </tr>
                </tbody>
                <% } %> 
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-lg-5 col-xl-4">
          <div class="summery-box">
            <div class="row g-3 g-lg-4">
              <div class="col-12">
                <div class="summery-wrap">
                  <div class="cart-wrap grand-total-wrap">
                    <div>
                      <div class="order-summery-box">
                        <h5 class="cart-title">Price Details </h5>
                        <ul class="order-summery">
                          <li>
                            <span>Bag total</span>
                            <span>₹ <%= FinalAmount %>  </span>
                          </li>

                          <li>
                            <span>Delivery</span>
                            <span>₹ 50</span>
                          </li>

                          <li class="pb-0">
                            <span>Total Amount</span>
                            <span>₹ <%= order.checkoutAmount %> </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="summery2">
                  <div class="row g-4">
                    <div class="col-12">
                      <div class="order-summery-box">
                        <h5 class="cart-title">Shipping Address</h5>
                      </div>
                      <ul>
                        <li><%= orderAddress.name %> </li>
                        <li><%= orderAddress.address %> </li>
                        <li><%= orderAddress.landmark %> </li>
                        <li><%= orderAddress.city %> </li>
                        <li>Contact No. <%= orderAddress.mobile %> </li>
                      </ul>
                    </div>

                    <div class="col-12">
                      <div class="delivery-box">
                        <!-- <p class="d-flex flex-column g-0 title-color font-md mb-0">
                          Expected Date Of Delivery:
                          <strong> June 22, 2022</strong>
                        </p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Compare Section End -->