<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>qpnet.in | Home</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/swiper-bundle.min.css" />

    <!-- Wow Animation css -->
    <link rel="stylesheet" href="../assets/css/vendors/wow-animate.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body class="theme-color6">
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>q</span>
        <span>p</span>
        <span>n</span>
        <span>e</span>
        <span>t</span>
        <span>.</span>
        <span>i</span>
        <span>n</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general overlay-common"></a>
    <!-- Header Start -->
    
      <% if(login.user){ %>        
            <%- include('./partials/user-header.ejs') %> 
      <% } %> 
      <% if(login.guest){ %> 
        <%- include('./partials/no-user-header.ejs') %> 
      <% } %> 

    <!-- Main Start -->
    <main class="main">
      <!-- Home Banner Section Start -->
      <section class="home-slider-common home-slider6 p-0 ratio_40">
        <div class="banner">
          <div >
            <a href="/shop"><img class="bg-img "  src="/assets/images/upload-images/bannerfront.jpg" alt="banner" /></a>
          </div>
          <!-- Banner Image Left -->
          <!-- <img class="img-fluid banner-left-img" src="/assets/images/upload-images/bannerfront.jpg" alt="banner img" /> -->

          <!-- <div class="content-box">
            <h1 class="heading">Keeping <strong> Your Favorite Shoes </strong> In The Best Performance</h1>
            <p>Lace up fastening bow detailing high stiletto heel leather lining beautiful lace upper elegant peep toe t-bar strap.</p> -->
            <!-- <a href="shop-left-sidebar.html" class="btn btn-solid round-corner line-none btn-solid2">Shop Now </a> -->

            <!-- <div class="card-box2">
              <div class="card-home">
                <a href="product.html" class="card-img"> -->
                  <!-- <img src="/assets/images/upload-images/imageFront-1664272781826.jpg" alt="shoes" /> -->
                <!-- </a>
                <div class="card-content">
                  <a href="product.html">
                    <h4> </h4>
                    <span class="rating"><i data-feather="star"></i> (4.5) Rating</span>
                    <span class="price">$300 </span>
                  </a>
                  <button class="addtocart-btn">Add to cart</button>
                </div>
              </div> -->

              <!-- <div class="card-home dark-card">
                <a href="product.html" class="card-img">
                  <img src="/assets/images/upload-images/imageFront-1664273150432.jpg" alt="shoes" />
                 </a>
                <div class="card-content">
                  <a href="product.html">
                    
                  </a>
                  <button class="addtocart-btn">Add to cart</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Home Banner Section End -->

      <!-- Collection Section Start -->
      <section>
        <div class="container-lg">
          <div class="title-box7 side-by-side">
            <div>
              <h2 class="heading">OUR <span>COLLECTION </span></h2>
              <svg>
                <use xlink:href="../assets/svg/sprite.svg#shape2"></use>
              </svg>
              <p>Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe.</p>
            </div>

            <ul class="nav nav-tabs nav-tabs5 round-tab row-tab" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="casual-tab" data-bs-toggle="tab" data-bs-target="#casual" type="button" role="tab" aria-controls="casual" aria-selected="true">All Products</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="athletic-tab" data-bs-toggle="tab" data-bs-target="#athletic" type="button" role="tab" aria-controls="athletic" aria-selected="false">Men</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="sport-tab" data-bs-toggle="tab" data-bs-target="#sport" type="button" role="tab" aria-controls="sport" aria-selected="false">Women</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="man-tab" data-bs-toggle="tab" data-bs-target="#man" type="button" role="tab" aria-controls="man" aria-selected="false">Child</button>
              </li>
            </ul>
          </div>


          <!-- Tab Content Start -->
          <div class="tab-content ratio_40" id="myTabContent">
            <!-- Casual Tab Content Start -->
            <div class="tab-pane fade show active" id="casual" role="tabpanel" aria-labelledby="casual-tab">
              <div class="casual-content">
                <div class="row gy-3 g-2 g-sm-3 g-xl-4 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
                  
                  <% for(let i=0;i<products.length;i++) { %>
                  
                  <div class="col wow fadeInUp" data-wow-delay="0.4s">
                    <div class="product-card option-bottom">
                      <div class="img-box">
                        <a href="/product<%= products[i]._id%>"><img class="img-fluid bg-img" src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="product" /> </a>

                        <!-- Option -->
                        <ul class="option-wrap">
                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                            <form action="/addToWish<%= products[i]._id%>" method="post">
                              <button type="submit" class="wishlist-btn">
                                <i data-feather="heart"></i>
                              </button>
                              </form>
                          </li>
                          
                          <!-- <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal">
                              <i data-feather="eye"></i>
                            </a>
                          </li> -->
                          <li data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart">
                            <form action="/addToCart<%= products[i]._id%>" method="post">
                              <button type="submit" class="addtocart-btn"> 
                                <i data-feather="shopping-bag"></i>
                              </button>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <!-- Content Box -->
                      <div class="content-box">
                        <a href="product.html">
                          <div class="rating-box">
                            <p><%= products[i].pname %> </p>
                            
                          </div>
                          <h5><%= products[i].category %></h5>
                          <span class="color-theme">₹<%= products[i].sellingPrice %></span> 
                          <% if(products[i].sellingPrice != products[i].originalPrice){ %> 
                          <del class="fw-500 content-color">₹ <%= products[i].originalPrice %></del>
                          <% } %> 
                          <br>
                                <% if(products[i].offer != 0){ %> 
                                    <span style="color: red;">Offer Now: <%= products[i].offer %> %</span> 
                                <% } %> 
                        </a>
                      </div>
                    </div>
                  </div>
                  
                  <% }%> 

                </div>
              </div>
            </div>
            <!-- Casual Tab Content End -->

            <!-- Athletic Tab Content Start -->
            <div class="tab-pane fade" id="athletic" role="tabpanel" aria-labelledby="athletic-tab">
              <div class="athletic-content">
                <div class="row gy-3 g-2 g-sm-3 g-xl-4 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
                  <% for(let i=0;i<products.length;i++) { %>
                    <% if(products[i].category =="Men"){ %> 
                    <div class="col wow fadeInUp" data-wow-delay="0.4s">
                      <div class="product-card option-bottom">
                        <div class="img-box">
                          <a href="/product<%= products[i]._id%>"><img class="img-fluid bg-img" src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="product" /> </a>
  
                          <!-- Option -->
                          <ul class="option-wrap">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                              <form action="/addToWish<%= products[i]._id%>" method="post">
                              <button type="submit" class="wishlist-btn">
                                <i data-feather="heart"></i>
                              </button>
                              </form>
                            </li>
                            
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart">
                              <form action="/addToCart<%= products[i]._id%>" method="post">
                                <button type="submit" class="addtocart-btn"> 
                                  <i data-feather="shopping-bag"></i>
                                </button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <!-- Content Box -->
                        <div class="content-box">
                          <a href="product.html">
                            <div class="rating-box">
                              <p><%= products[i].pname %> </p>
                              
                            </div>
                            <h5><%= products[i].category %></h5>
                            <span class="color-theme">₹<%= products[i].sellingPrice %></span> 
                          <% if(products[i].sellingPrice != products[i].originalPrice){ %> 
                          <del class="fw-500 content-color">₹ <%= products[i].originalPrice %></del>
                          <% } %> 
                          <br>
                                <% if(products[i].offer != 0){ %> 
                                    <span style="color: red;">Offer Now: <%= products[i].offer %> %</span> 
                                <% } %> 
                          </a>
                        </div>
                      </div>
                    </div>
                    <% } %> 
                    <% }%> 
                </div>
              </div>
            </div>
            <!-- Athletic Tab Content End -->

            <!-- Sport Tab Content Start -->
            <div class="tab-pane fade" id="sport" role="tabpanel" aria-labelledby="sport-tab">
              <div class="sport-content">
                <div class="row gy-3 g-2 g-sm-3 g-xl-4 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
                  <% for(let i=0;i<products.length;i++) { %>
                    <% if(products[i].category =="Women"){ %> 
                
                    <div class="col wow fadeInUp" data-wow-delay="0.4s">
                      <div class="product-card option-bottom">
                        <div class="img-box">
                          <a href="/product<%= products[i]._id%>"><img class="img-fluid bg-img" src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="product" /> </a>
  
                          <!-- Option -->
                          <ul class="option-wrap">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                              <form action="/addToWish<%= products[i]._id%>" method="post">
                                <button type="submit" class="wishlist-btn">
                                  <i data-feather="heart"></i>
                                </button>
                                </form>
                            </li>
                            
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart">
                              <form action="/addToCart<%= products[i]._id%>" method="post">
                                <button type="submit" class="addtocart-btn"> 
                                  <i data-feather="shopping-bag"></i>
                                </button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <!-- Content Box -->
                        <div class="content-box">
                          <a href="product.html">
                            <div class="rating-box">
                              <p><%= products[i].pname %> </p>
                              
                            </div>
                            <h5><%= products[i].category %></h5>
                            <span class="color-theme">₹<%= products[i].sellingPrice %></span> 
                          <% if(products[i].sellingPrice != products[i].originalPrice){ %> 
                          <del class="fw-500 content-color">₹ <%= products[i].originalPrice %></del>
                          <% } %> 
                          <br>
                                <% if(products[i].offer != 0){ %> 
                                    <span style="color: red;">Offer Now: <%= products[i].offer %> %</span> 
                                <% } %> 
                          </a>
                        </div>
                      </div>
                    </div>
                    <% } %> 
                    <% }%> 
                </div>
              </div>
            </div>
            <!-- Sport Tab Content End -->

            <!-- Man Content Tab Start -->
            <div class="tab-pane fade " id="man" role="tabpanel" aria-labelledby="man-tab">
              <div class="man-content">
                <div class="row gy-3 g-2 g-sm-3 g-xl-4 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5">
                  <% for(let i=0;i<products.length;i++) { %>
                    <% if(products[i].category =="Child"){ %> 
                
                    <div class="col wow fadeInUp" data-wow-delay="0.4s">
                      <div class="product-card option-bottom">
                        <div class="img-box">
                          <a href="/product<%= products[i]._id%>"><img class="img-fluid bg-img" src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="product" /> </a>
  
                          <!-- Option -->
                          <ul class="option-wrap">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                              <form action="/addToWish<%= products[i]._id%>" method="post">
                                <button type="submit" class="wishlist-btn">
                                  <i data-feather="heart"></i>
                                </button>
                                </form>
                            </li>
                            
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart">
                              <form action="/addToCart<%= products[i]._id%>" method="post">
                                <button type="submit" class="addtocart-btn"> 
                                  <i data-feather="shopping-bag"></i>
                                </button>
                              </form>
                            </li>
                          </ul>
                        </div>
                        <!-- Content Box -->
                        <div class="content-box">
                          <a href="product.html">
                            <div class="rating-box">
                              <p><%= products[i].pname %> </p>
                              
                            </div>
                            <h5><%= products[i].category %></h5>
                            <span class="color-theme">₹<%= products[i].sellingPrice %></span> 
                          <% if(products[i].sellingPrice != products[i].originalPrice){ %> 
                          <del class="fw-500 content-color">₹ <%= products[i].originalPrice %></del>
                          <% } %> 
                          <br>
                          <% if(products[i].offer != 0){ %> 
                            <span style="color: red;">Offer Now: <%= products[i].offer %> %</span> 
                          <% } %> 
                          </a>
                        </div>
                      </div>
                    </div>
                    <% } %> 
                    <% }%> 
                </div>
              </div>
            </div>
            <!-- Man Content Tab End -->
          </div>
          <!-- Tab Content End -->
        </div>
      </section>
      <!-- Collection Section End -->

<!-- Service Section start -->
<section class="service-section dark-service service-section4 service-section5 pt-0 m-0">
  <div class="container-lg">
    <div class="banner-box m-0">
      <img class="bg-img" src="../assets/images/shoe/banner/service-bg.jpg" alt="banner" />

      <div class="row g-4 g-lg-0">
        <div class="col-6 col-lg-3">
          <div class="service-box">
            <div class="media">
              <svg>
                <use xlink:href="../assets/icons/svg/service/_sprite.svg#truck"></use>
              </svg>
              <div class="media-body">
                <h5>Free Shipping</h5>
                <span class="content-color3">From all orders over $200</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <div class="service-box">
            <div class="media">
              <svg>
                <use xlink:href="../assets/icons/svg/service/_sprite.svg#component"></use>
              </svg>
              <div class="media-body">
                <h5>FREE RETURNS</h5>
                <span class="content-color3">Return money within 30 days</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <div class="service-box">
            <div class="media">
              <svg>
                <use xlink:href="../assets/icons/svg/service/_sprite.svg#dollar"></use>
              </svg>
              <div class="media-body">
                <h5>SECURE SHOPPING</h5>
                <span class="content-color3">You're in safe hands</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-3">
          <div class="service-box">
            <div class="media">
              <svg>
                <use xlink:href="../assets/icons/svg/service/_sprite.svg#thum"></use>
              </svg>
              <div class="media-body">
                <h5>OVER 10,000 STYLES</h5>
                <span class="content-color3">We have everything you need</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Service Section End -->

      <!-- Sub Banner Section Start -->
      <section class="pt-0 sub-banner-8">
        <div class="container-lg">
          <div class="banner">
            <img class="bg-img" src="../assets/images/shoe/banner/sub-banner.jpg" alt="sub-banner" />
            <div class="content-box">
              <span class="offer-span">Special Offer</span>
              <h2 class="sub-title">Delicious <strong> Shoes Collection </strong></h2>
              <p>Workweek bow detailing a slingback buckle strap stiletto heel timeless go-to shoe sophistication slipper shoe.</p>
              <a href="/shop" class="btn btn-solid round-corner line-none btn-solid2 btn-sm">Shop Now </a>
            </div>

            <div class="img-box">
              <img src="../assets/images/shoe/banner/shoe3.png" alt="shoe" />
              <span class="span-1 top">Power Speed <span class="shape-line"></span></span>
              <span class="span-1 bottom">Fast Now<span class="shape-line"></span></span>

              <div class="coupon-box">
                <div class="coupon-wrap">
                  <img class="arrow" src="../assets/svg/arrow-dash2.svg" alt="arrow" />
                  <span class="coupon-label">USE CODE : ABCSHOES</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Sub Banner Section End -->

      
      

      <!-- Top Brand Section Start -->
      <section class="pt-0">
        <div class="container-lg">
          <div class="title-box7">
            <h2 class="heading">TOP <span>BRAND </span></h2>
            <svg>
              <use xlink:href="../assets/svg/sprite.svg#shape2"></use>
            </svg>
            <p>Effortless comfortable full leather detail to the toe low 'cut-away' sides clean and sleek.</p>
          </div>

          <div class="catagories-style-6">
            <div class="swiper home-catagories-slider2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/1.png" alt="" />
                    </div>
                    <h3>Woodland</h3>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/2.png" alt="product" />
                    </div>
                    <h3>Nike</h3>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/3.png" alt="product" />
                    </div>
                    <h3>Adidas</h3>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/4.png" alt="product" />
                    </div>
                    <h3>Puma</h3>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/5.png" alt="product" />
                    </div>
                    <h3>Reebok</h3>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="/shop" class="catagories-box">
                    <div class="img-box">
                      <img src="../assets/images/shoe/product/png/6.png" alt="product" />
                    </div>
                    <h3>Bata</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Top Brand Section End -->

    
      
      
    </main>
    <!-- Main End -->

    <!-- Document Footer Start -->
    <footer class="footer-document footer-document2 ratio_asos mb-xxl">
      <div class="bg-footer-l">
        <img src="../assets/images/bag/banner/bg-footer-l.png" alt="banner" />
      </div>
      <div class="bg-footer-r">
        <img src="../assets/images/bag/banner/bg-footer-r.png" alt="banner" />
      </div>
      <div>
        <div class="container-lg">
          <div class="main-footer">
            <div class="row gy-3 gy-md-4 gy-xl-0">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="content-box">
                  <img class="logo" src="../assets/images/logos/qpnetlogowhite.png" alt="logo-white" />
                  <ul>
                    <li><i data-feather="map-pin"></i> <span>Navas Nazar<br> Brototype <br> Dotespace, Vetturoad, Kazhakkuttam </span></li>
                    <li>
                      <i data-feather="phone"></i><a class="nav" href="tel:+919567819494"><span> +91 9 5678 1 9494 </span></a>
                    </li>
                    <li>
                      <i data-feather="mail"></i><a class="nav" href="mailto:navasnazar@gmail.com"><span> navasnazar@gmail.com </span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-lg-2 col-md-4 order-md-3 order-lg-2">
                <div class="nav content-box d-md-block">
                  <h5 class="heading-footer line-style">Shop By</h5>
                  <ul>
                    <li><a class="nav" href="/shop">Men</a></li>
                    <li><a class="nav" href="/shop">Women </a></li>
                    <li><a class="nav" href="/shop">Child </a></li>
                    <li><a class="nav" href="/shop">Top all Brands </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-4 order-lg-3">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer line-style">Information</h5>
                  <ul>
                    <li><a class="nav" href="/">Home </a></li>
                    <li><a class="nav" href="/shop">Shop </a></li>
                    <li><a class="nav" href="/contact-us">Contact </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-5 order-lg-4">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer line-style">Get Help</h5>
                  <ul>
                    <li><a class="nav" href="/orders">Your Orders</a></li>
                    <li><a class="nav" href="/user_dashboard">Your Account </a></li>
                    <li><a class="nav" href="/cart">Your Cart</a></li>
                    <li><a class="nav" href="/wishlist">Your Wishlist</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 col-lg-4 order-md-2 order-lg-5">
                <div class="content-box">
                  <h5 class="heading-footer line-style">Follow Us</h5>
                  <div class="follow-wrap">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/me.NavasNazar/"> <img src="../assets/icons/svg/social/fb.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/navas_nazar/"> <img src="../assets/icons/svg/social/inta.svg" alt="fb" /> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-footer">
            <div class="row gy-3">
              <div class="col-md-6">
                <ul>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/cod.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/razorpay.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/3.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p class="mb-0">Feel your best shopping experience by qpnet.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Document Footer End -->

    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none">
      <ul>
        <li>
          <a href="/" class="active"> 
            <i data-feather="home"></i>
            <span>Home</span>
          </a>
        </li>
        
        <li>
          <a href="/cart">
            <i data-feather="shopping-bag"></i>
            <span>Cart</span>
          </a>
        </li>
        <li>
          <a href="/wishlist">
            <i data-feather="heart"></i>
            <span>Wishlist</span>
          </a>
        </li>
        <li>
          <a href="/user_dashboard">
            <i data-feather="user"></i>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </footer>
    <!-- Mobile Menu Footer End -->

    <!-- Notification Start -->
    <div class="notification-wrap addToCart">
      <div class="notification">
        <img src="../assets/images/shoe/product/1.jpg" alt="product" />
        <div>
          <h5>Added To Cart</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

    <!-- Notification Start -->
    <div class="notification-wrap addToWishlist">
      <div class="notification">
        <img src="../assets/images/shoe/product/1.jpg" alt="product" />
        <div>
          <h5>Added To Wishlist</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

    

    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
      <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Swiper Slider Js -->
    <script src="../assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper-slider/swiper-custom.min.js"></script>

    <!-- Timer Js -->
    <script src="../assets/js/timer.js"></script>

    <!-- Header Sticky js  -->
    <script src="../assets/js/sticky-header.js"></script>

    <!-- Active Class js  -->
    <script src="../assets/js/active-class.js"></script>

    <!-- Wow Js -->
    <script src="../assets/js/wow.js"></script>
    <script src="../assets/js/wow-custom.js"></script>

    <!-- Script Js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
