<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="oslo" />
    <meta name="keywords" content="oslo" />
    <meta name="author" content="oslo" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Oslo | Order Success</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <!-- <span>O</span>
        <span>S</span>
        <span>L</span>
        <span>O</span> -->
      </div>
    </div>
    <!-- Loader End -->

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general"></a>
    <!-- Header Start -->
    
    <%- include('../partials/user-header.ejs') %> 

    <!-- Header End -->

    <!-- Main Start -->
    <main class="main">
      <!-- Top Section Start -->
      <!-- Top Section End -->
      <!-- Breadcrumb Start -->
      <div class="breadcrumb-wrap">
        <div class="banner">
          <img class="bg-img bg-top" src="../assets/images/inner-page/banner-p.jpg" alt="banner" />

          <div class="container-lg">
            <div class="breadcrumb-box">
              <div class="heading-box">
                <h1>Order Details</h1>
              </div>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li class="current"><a href="/orders">Order List</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <!-- Compare Section Start -->
      <section class="section-b-space order-success">
        <div class="container-lg">
          <div class="row g-3 g-md-4 cart">
            <div class="col-md-7 col-lg-7 col-xl-8">
              <div class="cart-wrap">
                <div class="items-list">
                  <table class="table cart-table">
                    <thead>
                      <tr>
                        <th class="d-none d-sm-table-cell">PRODUCT</th>
                        <th class="d-none d-sm-table-cell">PRICE</th>
                        <th class="d-none d-lg-table-cell">QUANTITY</th>
                        <th class="d-none d-xl-table-cell">TOTAL</th>
                      </tr>
                    </thead>
                    <% let FinalAmount=0 %> 
                    <% for(let i=0;i<orderItems.length;i++) { %>
                        <% let totalAmount = orderItems[i].prodQty * orderItems[i].prodPrice %> 
                        <% FinalAmount += totalAmount %> 
                    <tbody>
                      <tr>
                        <td>
                          <div class="product-detail">
                            <img class="pr-img" src="/assets/images/upload-images/<%= orderItems[i].prodImageFront %>"  alt="image" />
                            <div class="details">
                              <h4 class="title-color font-default2"><%= orderItems[i].prodCategory %></h4>
                              
                              <span class="size d-flex gap-2">Size : <span><%= orderItems[i].prodSize %></span> </span>
                              
                            </div>
                          </div>
                        </td>

                        <td class="price d-none d-sm-table-cell">₹ <%= orderItems[i].prodPrice %></td>
                        <td class="price d-none d-lg-table-cell"><%= orderItems[i].prodQty %></td>
                        <td class="total d-none d-xl-table-cell">₹ <%= totalAmount %> </td>
                      </tr>
                    </tbody>
                    <% } %> 
                  </table>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-lg-5 col-xl-4">
              <div class="summery-box">
                <div class="row g-3 g-lg-4">
                  <div class="col-12">
                    <div class="summery-wrap">
                      <div class="cart-wrap grand-total-wrap">
                        <div>
                          <div class="order-summery-box">
                            <h5 class="cart-title">Price Details </h5>
                            <ul class="order-summery">
                              <li>
                                <span>Bag total</span>
                                <span>₹ <%= FinalAmount %>  </span>
                              </li>

                              <li>
                                <span>Delivery</span>
                                <span>₹ 50</span>
                              </li>

                              <li class="pb-0">
                                <span>Total Amount</span>
                                <span>₹ <%= order.checkoutAmount %> </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="summery2">
                      <div class="row g-4">
                        <div class="col-12">
                          <div class="order-summery-box">
                            <h5 class="cart-title">Shipping Address</h5>
                          </div>
                          <ul>
                            <li><%= orderAddress.name %> </li>
                            <li><%= orderAddress.address %> </li>
                            <li><%= orderAddress.landmark %> </li>
                            <li><%= orderAddress.city %> </li>
                            <li>Contact No. <%= orderAddress.mobile %> </li>
                          </ul>
                        </div>

                        <div class="col-12">
                          <div class="delivery-box">
                            <!-- <p class="d-flex flex-column g-0 title-color font-md mb-0">
                              Expected Date Of Delivery:
                              <strong> June 22, 2022</strong>
                            </p> -->
                            <a href="user-dashboard.html" class="font-danger font-md fw-500">Track Order</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Compare Section End -->
    </main>
    <!-- Main End -->

    <!-- Document Footer Start -->
    <footer class="footer-document ratio_asos mb-xxl">
      <div class="bg-footer-l">
        <img src="../assets/images/fashion/banner/bg-footer-l.png" alt="banner" />
      </div>
      <div class="bg-footer-r">
        <img src="../assets/images/fashion/banner/bg-footer-r.png" alt="banner" />
      </div>
      <div>
        <div class="container-lg">
          <div class="main-footer">
            <div class="row gy-3 gy-md-4 gy-xl-0">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="content-box">
                  <img class="logo" src="../assets/images/logos/logo-w.png" alt="logo-white" />
                  <ul>
                    <li><i data-feather="map-pin"></i> <span> 1418 Riverwood Drive, Suite 3245 Cottonwood, CA 96052, United States </span></li>
                    <li>
                      <i data-feather="phone"></i><a class="nav" href="tel:185659635"><span> + 185659635 </span></a>
                    </li>
                    <li>
                      <i data-feather="mail"></i><a class="nav" href="mailto:fashion098@gmail.com"><span> fashion098@gmail.com </span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-lg-2 col-md-4 order-md-3 order-lg-2">
                <div class="nav content-box d-md-block">
                  <h5 class="heading-footer">Shop By</h5>
                  <ul>
                    <li><a class="nav" href="shop-left-sidebar.html">New In </a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Women </a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Men </a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Shoes</a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Bags & Accessories </a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Top Brands </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-4 order-lg-3">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer">Information</h5>
                  <ul>
                    <li><a class="nav" href="index.html">Home </a></li>
                    <li><a class="nav" href="shop-left-sidebar.html">Shop </a></li>
                    <li><a class="nav" href="about-us.html">About Us</a></li>
                    <li><a class="nav" href="blog-detail.html">Blog </a></li>
                    <li><a class="nav" href="contact-us.html">Contact </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-5 order-lg-4">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer">Get Help</h5>
                  <ul>
                    <li><a class="nav" href="user-dashboard.html">Your Orders </a></li>
                    <li><a class="nav" href="user-dashboard.html">Your Account </a></li>
                    <li><a class="nav" href="user-dashboard.html">Track Order</a></li>
                    <li><a class="nav" href="wishlist.html">Your Wishlist</a></li>
                    <li><a class="nav" href="search.html">Search</a></li>
                    <li><a class="nav" href="faqs.html">Faqs</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 col-lg-4 order-md-2 order-lg-5">
                <div class="content-box">
                  <h5 class="heading-footer">Follow Us</h5>
                  <div class="follow-wrap">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/"> <img src="../assets/icons/svg/social/fb.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/accounts/login/?source=auth_switcher"> <img src="../assets/icons/svg/social/inta.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/i/flow/login"> <img src="../assets/icons/svg/social/tw.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://in.pinterest.com/"> <img src="../assets/icons/svg/social/pint.svg" alt="fb" /> </a>
                      </li>
                    </ul>
                  </div>

                  <div class="subscribe-box">
                    <h5>Newsletter Sign Up</h5>
                    <p>Receive our latest updates about our products & promotions.</p>
                  </div>

                  <form action="javascript:void(0)" class="footer-form">
                    <input required type="email" class="form-control" placeholder="Your email address" />
                    <button type="submit" class="btn-solid">SUBMIT <i class="arrow"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-footer">
            <div class="row gy-3">
              <div class="col-md-6">
                <ul>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/1.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/2.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/3.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/4.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p class="mb-0">© 2022, OSLO Template. Made with heart by Pixelstrap</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Document Footer End -->

    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none">
      <ul>
        <li>
          <a href="index.html">
            <i data-feather="home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="search.html" class="search-link">
            <i data-feather="search"></i>
            <span>Search</span>
          </a>
        </li>
        <li>
          <a href="cart.html">
            <i data-feather="shopping-bag"></i>
            <span>Cart</span>
          </a>
        </li>
        <li>
          <a href="wishlist.html">
            <i data-feather="heart"></i>
            <span>Wishlist</span>
          </a>
        </li>
        <li>
          <a href="user-dashboard.html">
            <i data-feather="user"></i>
            <span>Account</span>
          </a>
        </li>
      </ul>
    </footer>
    <!-- Mobile Menu Footer End -->

    <!-- Notification Start -->
    <div class="notification-wrap addToCart">
      <div class="notification">
        <img src="../assets/images/fashion/product/front/1.jpg" alt="product" />
        <div>
          <h5>Added To Cart</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
      <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Header Sticky js  -->
    <script src="../assets/js/sticky-header.js"></script>

    <!-- Script Js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
