<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>qpnet.in | Shopping</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/swiper-bundle.min.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        
      </div>
    </div>
    <!-- Loader End -->

    <!-- Overlay -->
    <a href="javascript:void(0)" class="overlay-general"></a>
    <!-- Header Start -->
    
    <% if(login.user){ %>        
      <%- include('../partials/user-header.ejs') %> 
    <% } %> 
    <% if(login.guest){ %> 
    <%- include('../partials/no-user-header.ejs') %> 
    <% } %> 

    <!-- Header End -->

    <!-- Main Start -->
    <main class="main">
      <!-- Breadcrumb Start -->
      <div class="breadcrumb-wrap">
        <div class="banner">
          <img class="bg-img bg-top" src="../assets/images/inner-page/banner-p.jpg" alt="banner" />

          <div class="container-lg">
            <div class="breadcrumb-box">
              <div class="heading-box">
                <h1>Shop</h1>
              </div>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li class="current"><a href="/cart">Cart</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <section class="shop-page">
        <div class="container-lg">
          <div class="row gy-4 g-lg-3 g-xxl-4">
            <div class="col-12">
              <div class="row gy-5 gx-0">
                <div class="col-12 order-2 order-lg-1">
                  <div class="round-wrap-content p-0 overflow-hidden">
                    
                  </div>
                </div>
                <div class="col-12 order-1 order-lg-2">
                  <div class="shop-product">
                    <div class="top-header-wrap">
                      <div class="grid-option-wrap">
                        
                        <ul class="filter-option-grid d-none d-sm-flex">
                          <li class="nav-item d-none d-sm-flex">
                            <button class="nav-link" data-grid="2">
                              <svg>
                                <use xlink:href="../assets/icons/svg/grid/_sprite.svg#grid-2"></use>
                              </svg>
                            </button>
                          </li>
                          <li class="nav-item d-none d-sm-flex">
                            <button class="nav-link" data-grid="3">
                              <svg>
                                <use xlink:href="../assets/icons/svg/grid/_sprite.svg#grid-3"></use>
                              </svg>
                            </button>
                          </li>
                          <li class="nav-item d-none d-xl-flex">
                            <button class="nav-link active" data-grid="4">
                              <svg>
                                <use xlink:href="../assets/icons/svg/grid/_sprite.svg#grid-4"></use>
                              </svg>
                            </button>
                          </li>
                          <li class="nav-item d-none d-sm-flex">
                            <button class="nav-link" data-grid="list">
                              <svg>
                                <use xlink:href="../assets/icons/svg/grid/_sprite.svg#grid-list"></use>
                              </svg>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="product-tab-content">
                      <div class="view-option row g-3 g-xl-4 ratio_asos row-cols-2 row-cols-sm-3 row-cols-xl-4 grid-section">
                        <% for(let i=0; i<products.length; i++){ %> 
                        <div>
                          <div class="product-card">
                            <div class="img-box">
                              <!-- Thumbnail -->
                              <ul class="thumbnail-img">
                                <li class="active thumb"><img src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="thumbnail" /></li>
                                <li class="thumb"><img src="/assets/images/upload-images/<%= products[i].imageSide %>" alt="thumbnail" /></li>
                                <li class="thumb"><img src="/assets/images/upload-images/<%= products[i].imageTop %>" alt="thumbnail" /></li>
                              </ul>

                              <a href="/product<%= products[i]._id %>" class="primary-img"><img class="img-fluid bg-img" src="/assets/images/upload-images/<%= products[i].imageFront %>" alt="product" /> </a>

                             

                              <!-- Option -->
                              <ul class="option-wrap">
                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                  <form action="/addToWish<%= products[i]._id%>" method="post">
                                    <button type="submit" class="wishlist-btn">
                                      <i data-feather="heart"></i>
                                    </button>
                                    </form>
                                </li>
                                
                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Cart">
                                  <form action="/addToCart<%= products[i]._id%>" method="post">
                                    <button type="submit" class="addtocart-btn"> 
                                      <i data-feather="shopping-bag"></i>
                                    </button>
                                  </form>
                                </li>
                              </ul>
                            </div>

                            <!-- Content Box -->
                            
                            <!-- Content Box -->
                            <div class="content-box">
                              <a href="/product<%= products[i]._id %>">
                                <p><%= products[i].category %></p>
                                <h5><%= products[i].pname %></h5>
                                <span class="color-theme">₹<%= products[i].sellingPrice %></span> 
                                <% if(products[i].sellingPrice != products[i].originalPrice){ %> 
                                <del class="fw-500 content-color">₹ <%= products[i].originalPrice %></del>
                                <% } %> 
                                <br>
                                <% if(products[i].offer != 0){ %> 
                                    <span style="color: red;">Offer Now: <%= products[i].offer %> %</span> 
                                <% } %> 
                                <p class="details truncate-3">
                                  Iconic style heritage brand outerwear collection lightweight showerproof material full zip fastening adjustable sleeves. Western-inspired suede jacket denim blue
                                  metallic button fastening summer white pure hue subtle distressed casual appeal. Western-inspired suede jacket denim blue metallic button fastening summer white pure
                                  hue subtle distressed casual appeal.
                                </p>
                              </a>
                              <form action="/addToCart<%= products[i]._id%>" method="post">
                              <button type="submit" class="btn btn-solid btn-sm mb-line addtocart-btn">Add To Cart <i class="arrow"></i> </button>
                              </form>
                            </div>
                          </div>
                        </div>
                        <% } %> 
                        
                      </div>

                      <!-- Pagination Start -->
                      <div class="pagination-wrap justify-content-center">
                        <ul class="pagination">
                          <li>
                            <a href="javascript:void(0)" class="prev"> &laquo;</a>
                          </li>
                          <li><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)" class="active">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li><a href="javascript:void(0)" class="next"> &raquo;</a></li>
                        </ul>
                      </div>
                      <!-- Pagination End -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Shop Section End -->
    </main>
    <!-- Main End -->

    <!-- Document Footer Start -->
    <footer class="footer-document footer-document2 ratio_asos mb-xxl">
      <div class="bg-footer-l">
        <img src="../assets/images/bag/banner/bg-footer-l.png" alt="banner" />
      </div>
      <div class="bg-footer-r">
        <img src="../assets/images/bag/banner/bg-footer-r.png" alt="banner" />
      </div>
      <div>
        <div class="container-lg">
          <div class="main-footer">
            <div class="row gy-3 gy-md-4 gy-xl-0">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="content-box">
                  <img class="logo" src="../assets/images/logos/qpnetlogowhite.png" alt="logo-white" />
                  <ul>
                    <li><i data-feather="map-pin"></i> <span>Navas Nazar<br> Brototype <br> Dotespace, Vetturoad, Kazhakkuttam </span></li>
                    <li>
                      <i data-feather="phone"></i><a class="nav" href="tel:+919567819494"><span> +91 9 5678 1 9494 </span></a>
                    </li>
                    <li>
                      <i data-feather="mail"></i><a class="nav" href="mailto:navasnazar@gmail.com"><span> navasnazar@gmail.com </span></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-lg-2 col-md-4 order-md-3 order-lg-2">
                <div class="nav content-box d-md-block">
                  <h5 class="heading-footer line-style">Shop By</h5>
                  <ul>
                    <li><a class="nav" href="/shop">Men</a></li>
                    <li><a class="nav" href="/shop">Women </a></li>
                    <li><a class="nav" href="/shop">Child </a></li>
                    <li><a class="nav" href="/shop">Top all Brands </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-4 order-lg-3">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer line-style">Information</h5>
                  <ul>
                    <li><a class="nav" href="/">Home </a></li>
                    <li><a class="nav" href="/shop">Shop </a></li>
                    <li><a class="nav" href="/contact-us">Contact </a></li>
                  </ul>
                </div>
              </div>

              <div class="nav-footer col-xl-2 col-lg-3 col-md-4 order-md-5 order-lg-4">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer line-style">Get Help</h5>
                  <ul>
                    <li><a class="nav" href="/orders">Your Orders</a></li>
                    <li><a class="nav" href="/user_dashboard">Your Account </a></li>
                    <li><a class="nav" href="/cart">Your Cart</a></li>
                    <li><a class="nav" href="/wishlist">Your Wishlist</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-xl-3 col-md-6 col-lg-4 order-md-2 order-lg-5">
                <div class="content-box">
                  <h5 class="heading-footer line-style">Follow Us</h5>
                  <div class="follow-wrap">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/me.NavasNazar/"> <img src="../assets/icons/svg/social/fb.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/navas_nazar/"> <img src="../assets/icons/svg/social/inta.svg" alt="fb" /> </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-footer">
            <div class="row gy-3">
              <div class="col-md-6">
                <ul>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/cod.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/razorpay.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> <img src="../assets/icons/png/3.png" class="img-fluid blur-up lazyload" alt="payment icon" /></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p class="mb-0">Feel your best shopping experience by qpnet.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Document Footer End -->

    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none">
        <ul>
          <li>
            <a href="/">
              <i data-feather="home"></i>
              <span>Home</span>
            </a>
          </li>
          
          <li>
            <a href="/cart">
              <i data-feather="shopping-bag"></i>
              <span>Cart</span>
            </a>
          </li>
          <li>
            <a href="/wishlist">
              <i data-feather="heart"></i>
              <span>Wishlist</span>
            </a>
          </li>
          <li>
            <a href="/user_dashboard">
              <i data-feather="user"></i>
              <span>Account</span>
            </a>
          </li>
        </ul>
      </footer>
      <!-- Mobile Menu Footer End -->
  
    <!-- Notification Start -->
    <div class="notification-wrap addToCart">
      <div class="notification">
        <img src="../assets/images/fashion/product/front/1.jpg" alt="product" />
        <div>
          <h5>Added To Cart</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

    <!-- Notification Start -->
    <div class="notification-wrap addToWishlist">
      <div class="notification">
        <img src="../assets/images/fashion/product/front/2.jpg" alt="product" />
        <div>
          <h5>Added To Wishlist</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

    <!-- View Product Modal Start -->
    <div class="modal view-product fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <span class="close-modal d-none d-md-block" data-bs-toggle="modal" data-bs-target="#viewModal"><i data-feather="x"></i></span>
            <div class="row gy-4 g-md-0">
              <div class="col-md-7">
                <div class="slider-box">
                  <span class="close-modal d-md-none" data-bs-toggle="modal" data-bs-target="#viewModal"><i data-feather="x"></i></span>
                  <div class="row g-2">
                    <div class="col-2">
                      <div class="thumbnail-box">
                        <div class="swiper thumbnail-img-box thumbnailSlider">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <img src="../assets/images/fashion/product/front/7.jpg" alt="img" />
                            </div>
                            <div class="swiper-slide">
                              <img src="../assets/images/fashion/product/front/7-1.jpg" alt="img" />
                            </div>
                            <div class="swiper-slide">
                              <img src="../assets/images/fashion/product/front/7-2.jpg" alt="img" />
                            </div>
                            <div class="swiper-slide">
                              <img src="../assets/images/fashion/product/front/7-3.jpg" alt="img" />
                            </div>
                            <div class="swiper-slide">
                              <img src="../assets/images/fashion/product/front/7-1.jpg" alt="img" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-10 ratio_square">
                      <div class="swiper mainslider">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img class="bg-img" src="../assets/images/fashion/product/front/7.jpg" alt="img" />
                          </div>
                          <div class="swiper-slide">
                            <img class="bg-img" src="../assets/images/fashion/product/front/7-1.jpg" alt="img" />
                          </div>
                          <div class="swiper-slide">
                            <img class="bg-img" src="../assets/images/fashion/product/front/7-2.jpg" alt="img" />
                          </div>
                          <div class="swiper-slide">
                            <img class="bg-img" src="../assets/images/fashion/product/front/7-3.jpg" alt="img" />
                          </div>
                          <div class="swiper-slide">
                            <img class="bg-img" src="../assets/images/fashion/product/front/7.jpg" alt="img" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="product-detail-box">
                  <div class="product-option">
                    <h4>Women’s long sleeve shirt</h4>
                    <div class="option price">
                      <h5>Price</h5>
                      <span> $200.00 </span> <del>$300.00</del>
                    </div>
                    <div class="option">
                      <h5>Product Description</h5>
                      <p class="content-color">100% Cotton Indigo shirt with western yoke. Apt for casual outings, this shirt will keep you comfortable and stylish all day long.</p>
                    </div>
                    <div class="option">
                      <h5>Your Brand Color:</h5>
                      <ul class="color-list">
                        <li class="bg-theme-p-1 active"></li>
                        <li class="bg-theme-p-2"></li>
                        <li class="bg-theme-p-3"></li>
                      </ul>
                    </div>
                    <div class="option">
                      <h5>Size:</h5>
                      <ul class="size-list">
                        <li class="active">S</li>
                        <li>M</li>
                        <li>L</li>
                        <li>XL</li>
                      </ul>
                    </div>
                    <div class="option">
                      <h5>Quantity:</h5>
                      <div class="plus-minus">
                        <i class="sub" data-feather="minus"></i>
                        <input type="number" value="1" min="1" max="10" />
                        <i class="add" data-feather="plus"></i>
                      </div>
                    </div>

                    <div class="btn-group">
                      <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewModal" class="btn-solid btn-sm addtocart-btn">Add To Cart </a>
                      <a href="product.html" class="btn-outline btn-sm">View Full</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- View Product Modal End -->

    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
      <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Swiper Slider Js -->
    <script src="../assets/js/swiper-slider/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper-slider/swiper-custom.min.js"></script>

    <!-- Grid Style js  -->
    <script src="../assets/js/grid-style.js"></script>

    <!-- Header Sticky js  -->
    <script src="../assets/js/sticky-header.js"></script>

    <!-- Script Js -->
    <script src="../assets/js/script.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
